.history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 100%;
  padding: 5px;
}

.history__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
}

.history__button {
  border: 3px solid var(--lightgray);
  background: transparent;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: var(--white);
  border-radius: 5px;
  margin: 0 0 5px 0;
  font-family: inherit;
}

.history__button:hover {
  background: var(--gray);
}

.history__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.history__item:hover {
  background: var(--gray);
}

.history__item__expression {
  font-size: 16px;
  color: var(--graytext);
}

.history__item__result {
  font-size: 24px;
}
